<mat-card class="filter-card">
  <mat-card-header>
    <mat-card-title>Routes filter</mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-2">
    <form [formGroup]="filterForm" (ngSubmit)="onFilterChanged()">
      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Start location</mat-label>
        <input matInput formControlName="startLocation">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End location</mat-label>
        <input matInput formControlName="endLocation">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Planned">Planned</mat-option>
          <mat-option value="InProgress">In Progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Scheduled start time</mat-label>
        <input matInput [matDatepicker]="scheduledStartPicker" formControlName="scheduledStartTime">
        <mat-datepicker-toggle matSuffix [for]="scheduledStartPicker"></mat-datepicker-toggle>
        <mat-datepicker #scheduledStartPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Scheduled end time</mat-label>
        <input matInput [matDatepicker]="scheduledEndPicker" formControlName="scheduledEndTime">
        <mat-datepicker-toggle matSuffix [for]="scheduledEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #scheduledEndPicker></mat-datepicker>
      </mat-form-field>

      <div>
        <button class="w-100" mat-button type="submit">Search</button>
        <button class="w-100" mat-button type="button" (click)="onReset()">Reset</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
